.hidden{
    display: none !important;
}

label.control-label{
    text-transform: capitalize
}

.form-horizontal input[type="checkbox"],
.form-horizontal input[type="radio"]{
    vertical-align: top;
    margin-left: 25px;
}

li.span3 div.thumbnail{
    height: 430px;
}

.thumbnail a img{
    width: 260px;
    height: 166px;
}

.txtalrt{
    text-align: right
}

.txtalrt{text-align: right !important}

a.prop_imgs{
    display:block; 
    height:250px; 
    max-height:250px; 
    margin-bottom:18px;
    /*width: 60%;*/
    margin-left: auto;
    margin-right: auto;
}

#listinglocation {
  clear:both;
/*  float:left;
  margin-bottom:20px;
  margin-right:30px;*/
  padding:3px;
  /*width:100%;*/
}
#map.mapnostreetview {
  height:250px;
}
#map {
  border:1px solid;
  height:180px;
  /*width:60%;*/
}

#frmevt .control-group{
    text-align: left
}

.captcha{height: 32px !important}

#frm_cari_home label{
    width: 35%
}

#frm_cari_home .controls {
  margin-left:80px;
}

#tglcalc > *{
    margin-bottom: 10px;
}

#daily tr td:not(:first-child),
#daily tfoot th,
#monthly tr td:not(:first-child),
#monthly tfoot th{
    text-align: right
}

#tbl_listing_admin tbody td.txtalrt{
    width: 9%
}